<?xml version="1.0"?>
<library path="thermal_radiometric_visualizer">
  <class name="thermal_radiometric_visualizer" type="thermal_radiometric_visualizer.visualizer.ThermalRadiometricVisualizer" base_class_type="rqt_gui_py::Plugin">
    <description>Thermal Radiometric Visualizer Plugin</description>
    <qtgui>
      <group>
        <label>Visualization</label>
      </group>
      <group>
        <label>Thermal</label>
      </group>
      <label>Thermal Radiometric Visualizer</label>
      <icon type="theme">camera-photo</icon>
      <statustip>Visualize thermal radiometric data and retrieve temperature values.</statustip>
    </qtgui>
  </class>
</library>